@page "/BackEndPages/ApplyForm/{jobTitle}"
@using StaffingSolution.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using StaffingSolution.Services
@inject StaffingSolution.Controllers.JobController JobController

<link href="/css/ApplyForm.css" rel="stylesheet" />

<h1>Ansök till jobbet: @job.Title</h1>

<div class="job-details">
    <img src="@job.ImageUrl" alt="@job.Title" />
    <div class="job-text">
        <p><strong>Plats:</strong> @job.Location</p>
        <p><strong>Beskrivning:</strong> @job.Description</p>
    </div>
</div>

<h3>Vad jobbet går ut på:</h3>
<p class="centered-text">@job.Responsibilities</p>

<h3>Vad som krävs:</h3>
<p class="centered-text">@job.Requirements</p>


<div class="form-box">
    <EditForm Model="newApplication" OnValidSubmit="SubmitApplication">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="firstName">Förnamn</label>
        <InputText id="firstName" @bind-Value="firstName" class="form-control" required />

        <label for="lastName">Efternamn</label>
        <InputText id="lastName" @bind-Value="lastName" class="form-control" required />

        <label>Har du studerat eller annat arbete på minst 50%?</label>
        <InputRadioGroup @bind-Value="newApplication.IsStudying" class="radio-group">
            <div>
                <InputRadio Value="true" /> <label for="studyingYes">Ja</label>
            </div>
            <div>
                <InputRadio Value="false" /> <label for="studyingNo">Nej</label>
            </div>
        </InputRadioGroup>

        <label>Kan du arbeta heltid under perioden 29/11 till 13/12?</label>
        <InputRadioGroup @bind-Value="newApplication.CanWorkFullTime" class="radio-group">
            <div>
                <InputRadio Value="true" /> <label for="workYes">Ja</label>
            </div>
            <div>
                <InputRadio Value="false" /> <label for="workNo">Nej</label>
            </div>
        </InputRadioGroup>

        <label>Har du B-körkort?</label>
        <InputRadioGroup @bind-Value="newApplication.HasDrivingLicense" class="radio-group">
            <div>
                <InputRadio Value="true" /> <label for="licenseYes">Ja</label>
            </div>
            <div>
                <InputRadio Value="false" /> <label for="licenseNo">Nej</label>
            </div>
        </InputRadioGroup>

        <label>Hur många års erfarenhet har du?</label>
        <InputSelect @bind-Value="newApplication.ExperienceYears" class="form-control">
            <option value="0">Mindre än 1 år</option>
            <option value="1">1-3 år</option>
            <option value="2">3-5 år</option>
            <option value="3">5 år eller mer</option>
        </InputSelect>

        <label>Betygsätt dina svenska kunskaper:</label>
        <input type="range" @bind="newApplication.SwedishSkills" min="0" max="10" class="form-control" />

        <label>Har du arbetat i en liknande roll tidigare?</label>
        <InputRadioGroup @bind-Value="newApplication.HasPreviousExperience" class="radio-group">
            <div>
                <InputRadio Value="true" /> <label for="previousExperienceYes">Ja</label>
            </div>
            <div>
                <InputRadio Value="false" /> <label for="previousExperienceNo">Nej</label>
            </div>
        </InputRadioGroup>

        <label>Vilka skift kan du arbeta?</label>
        <div class="checkbox-group">
            <div>
                <InputCheckbox @bind-Value="newApplication.CanWorkMorning" />
                <label for="morningShift">Morgon</label>
            </div>
            <div>
                <InputCheckbox @bind-Value="newApplication.CanWorkEvening" />
                <label for="eveningShift">Kväll</label>
            </div>
            <div>
                <InputCheckbox @bind-Value="newApplication.CanWorkNight" />
                <label for="nightShift">Natt</label>
            </div>
        </div>

        <label>Berätta kort om dig själv:</label>
        <InputTextArea @bind-Value="newApplication.PersonalStatement" class="form-control" rows="4" />

        <label>Ladda upp ditt CV:</label>
        <InputFile OnChange="UploadCv" class="form-control" />

        <button type="submit">Skicka Ansökan</button>
    </EditForm>
</div>




