@page "/BackEndPages/ApplyForm/{jobTitle}"
@using StaffingSolution.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using StaffingSolution.Services
@inject StaffingSolution.Controllers.JobController JobController

<link href="/css/ApplyForm.css" rel="stylesheet" />

<h1>Ansök till jobbet: @job.Title</h1>

<div class="job-details">
    <img src="@job.ImageUrl" alt="@job.Title" />
    <div class="job-text">
        <p><strong>Plats:</strong> @job.Location</p>
        <p><strong>Beskrivning:</strong> @job.Description</p>
    </div>
</div>

<h3>Vad jobbet går ut på:</h3>
<p class="centered-text">@job.Responsibilities</p>

<h3>Vad som krävs:</h3>
<p class="centered-text">@job.Requirements</p>


<EditForm Model="newApplication" OnValidSubmit="SubmitApplication">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="email">E-post</label>
    <InputText id="email" @bind-Value="newApplication.UserEmail" class="form-control" required disabled />

    <label for="firstName">Förnamn</label>
    <InputText id="firstName" @bind-Value="firstName" class="form-control" required />

    <label for="lastName">Efternamn</label>
    <InputText id="lastName" @bind-Value="lastName" class="form-control" required />

    <button type="submit" class="btn btn-primary">Skicka Ansökan</button>
</EditForm>


